<h1>Basic Details</h1>

<!-- <%= form_with model: @basic_detail, url: "/basic" do |form| %>
<div>
<%= form.label :Student_Name %>
<%= form.text_field "basic_detail[student_name]"%>
</div>

<div>
<%= form.label :Date_Of_Birth %>
<%= form.text_field "basic_detail[dob]" %>
</div>

<div>
<%= form.label :Gender %>
<%= form.text_field "basic_detail[gender]" %>
</div>

<div>
<%= form.label :Address %>
<%= form.text_field "basic_detail[address]" %>
</div>

<div>
<%= form.label :Primary_Number %>
<%= form.text_field "basic_detail[primary_number]" %>
</div>

<div>
<%= form.label :Alternate_Number %>
<%= form.text_field "basic_detail[alternate_number]" %>
</div>

<div>
<%= form.label :Email_Id %>
<%= form.text_field "basic_detail[email_id]" %>
</div>

<div>
<%= form.label :Parent_Name %>
<%= form.text_field "basic_detail[parent_name]" %>
</div>

<div>
<%= form.label :Parent_Relation %>
<%= form.text_field "basic_detail[parent_relation]" %>
</div>

<div>
<%= form.submit :Next %>

</div>

<% end %> -->

<form action >

<input type="text" name="student_name">
