<!-- <%= form_with model: @basic_detail, url: "/basic" do |form| %>
<div>
<%= form.label :Student_Name %>
<%= form.text_field "basic_detail[student_name]"%>
</div>

<div>
<%= form.label :Date_Of_Birth %>
<%= form.text_field "basic_detail[dob]" %>
</div>

<div>
<%= form.label :Gender %>
<%= form.text_field "basic_detail[gender]" %>
</div>

<div>
<%= form.label :Address %>
<%= form.text_field "basic_detail[address]" %>
</div>

<div>
<%= form.label :Primary_Number %>
<%= form.text_field "basic_detail[primary_number]" %>
</div>

<div>
<%= form.label :Alternate_Number %>
<%= form.text_field "basic_detail[alternate_number]" %>
</div>

<div>
<%= form.label :Email_Id %>
<%= form.text_field "basic_detail[email_id]" %>
</div>

<div>
<%= form.label :Parent_Name %>
<%= form.text_field "basic_detail[parent_name]" %>
</div>

<div>
<%= form.label :Parent_Relation %>
<%= form.text_field "basic_detail[parent_relation]" %>
</div>

<div>
<%= form.submit :Next %>

</div>

<% end %> -->


<div class="form-main-container">
   
    <div class="form-container">
        <h3 class="form-heading">Freshworks Software Academy <span class="h1-span">Application 2023</span></h3>
        <form action="/basic_details/create" method="post">

            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <h4 class="eligibility-heading">Eligibility Criteria</h4>

                <p class="eligibility-p">Diploma or 12th PASS students (stream no bar)</p>
                
                <p class="eligibility-p">Date of Birth Range: Jan 1, 2002 to Dec 31, 2005</p>
                
                <p class="eligibility-p">Not Eligible for Degree Holders and students who have completed 2nd year or more in
                
                degree course</p>
                
                <p class="eligibility-p">The fields marked with the symbol<span class="required-star">*</span> is mandatory to fill</p>
                <hr>

            <h3 class="h1-span">Basic Detail Form</h3>
            <hr>
            <table class="form-table">
                <tr>
                    <td><p class="input-name">Name of the Student<span class="required-star">*</span></p></td>
                    <td><input type="text" name="basic_detail[student_name]" placeholder="Studnet Name" autofocus
                            required>
                    </td>
                    <% if flash[:error]%><p class = "flash-error"><%= flash[:error]%></p><%end%>
                </tr>

                <tr>
                    <td><p class="input-name">Date Of Birth<span class="required-star">*</span></p>
                        <p class="input-extra-detail">(Date Of Birth should be between 01 Jan 2003 - 31 Dec 2006)</p>
                    </td>
                    <td><input type="date" name="basic_detail[dob]" placeholder="DD-MM-YYYY" required>
                    </td>
                </tr>
                <tr>
                    <td><p class="input-name">Gender<span class="required-star">*</span></p></td>
                    <!-- <input type="text" name="basic_detail[gender]" placeholder="Gender" required> -->
                    <td>
                        <select name="basic_detail[gender]" required placeholder="-Select Your Gender-">
                            <option value="" disabled selected hidden>-Select-</option>
                            <option value="Male"><p class="input-option">Male</p></option>
                            <option value="Female"><p class="input-option">Female</p></option>
                            <option value="Transgender"><p class="input-option">Transgender</p></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><p class="input-name">Address<span class="required-star">*</span></p></td>
                    <td>
                        <textarea name="basic_detail[address]" placeholder="Address" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td><p class="input-name">Email-Id<span class="required-star">*</span></p></td>
                    <td><input type="email" name="basic_detail[email_id]" placeholder="Email-Id" required></td>
                </tr>
                <tr>
                    <td><p class="input-name">Whatsapp Number<span class="required-star">*</span></p></td>
                    <td><input type="number" name="basic_detail[primary_number]" placeholder="Primary Number" required></td>
                </tr>
                <tr>
                    <td><p class="input-name">Alternate Number<span class="required-star">*</span></p></td>
                    <td><input type="number" name="basic_detail[alternate_number]" placeholder="Alternate Number" required>
                    </td>
                </tr>
                <tr>
                    <td><p class="input-name">Parent Name<span class="required-star">*</span></p></td>
                    <td> <input type="text" name="basic_detail[parent_name]" placeholder="Parent Name" required></td>
                </tr>
                <tr>
                    <td><p class="input-name">Parent Relation<span class="required-star">*</span></p></td>
                    <td><input type="text" name="basic_detail[parent_relation]" placeholder="Parent Relation" required>
                    </td>
                </tr>
            </table>
            <button class="form-btn">Next</button>
        </form>
    </div>
</div>





<style>
    html {
        width: 100%;
        height: 100%;
        font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
    }

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 52%, rgba(236, 236, 236, 1) 56%);
    }
</style>

