<!-- <%= form_with model: @basic_detail, url: "/basic" do |form| %>
<div>
<%= form.label :Student_Name %>
<%= form.text_field "basic_detail[student_name]"%>
</div>

<div>
<%= form.label :Date_Of_Birth %>
<%= form.text_field "basic_detail[dob]" %>
</div>

<div>
<%= form.label :Gender %>
<%= form.text_field "basic_detail[gender]" %>
</div>

<div>
<%= form.label :Address %>
<%= form.text_field "basic_detail[address]" %>
</div>

<div>
<%= form.label :Primary_Number %>
<%= form.text_field "basic_detail[primary_number]" %>
</div>

<div>
<%= form.label :Alternate_Number %>
<%= form.text_field "basic_detail[alternate_number]" %>
</div>

<div>
<%= form.label :Email_Id %>
<%= form.text_field "basic_detail[email_id]" %>
</div>

<div>
<%= form.label :Parent_Name %>
<%= form.text_field "basic_detail[parent_name]" %>
</div>

<div>
<%= form.label :Parent_Relation %>
<%= form.text_field "basic_detail[parent_relation]" %>
</div>

<div>
<%= form.submit :Next %>

</div>

<% end %> -->

<nav class="navbar">
    <!-- LOGO -->
    <div class="logo_div">
        <%= image_tag('fw_logo.png', {class: 'fw_logo' }) %>
            <a href="/admissions/index" class="logo">FWSA</a>
    </div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/admissions/index">Home</a></li>
            <li><a href="/admission/staff">Staff</a></li>
            <li><a href="/basic_details/basic">Admission</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="/">Apply Now </a></li>
                    <li><a href="/">Check Status</a></li>
                </ul>
            </li>
            <li class="gallery">
                <a href="/admission/gallery">Gallery</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="/">Batch 1 </a></li>
                    <li><a href="/">Batch 2</a></li>
                    <li><a href="/">Batch 3</a></li>
                    <li><a href="/">Admission</a></li>
                </ul>
            </li>
            <li class="faq">
                <a href="/admission/faq">FAQ</a>
            </li>
            <li><a href="/admission/contact">Contact</a></li>
        </div>
    </ul>
</nav>


<div class="form-main-container">

    <div class="form-container">
        <h3 class="form-heading">Freshworks Software Academy <span class="h1-span">Application 2023</span></h3>
        <form action="/basic_details/create" method="post">

            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <h4 class="eligibility-heading">Eligibility Criteria</h4>

            <p class="eligibility-p">Diploma or 12th PASS students (stream no bar)</p>

            <p class="eligibility-p">Date of Birth Range: Jan 1, 2002 to Dec 31, 2005</p>

            <p class="eligibility-p">Not Eligible for Degree Holders and students who have completed 2nd year or more in

                degree course</p>

            <p class="eligibility-p">The fields marked with the symbol<span class="required-star">*</span> is mandatory
                to fill</p>
            <hr>

            <h3 class="h1-span">Basic Detail Form</h3>
            <hr>
              <% if flash[:error]%>
                        <p class="flash-error">
                            <%= flash[:error]%>
                        </p>
                        <%end%>
            <table class="form-table">
                <tr>
                    <td>
                        <p class="input-name">Name of the Student<span class="required-star">*</span></p>
                    </td>
                    <td><input type="text" name="basic_detail[student_name]" placeholder="Studnet Name" autofocus
                            required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p class="input-name">Date Of Birth<span class="required-star">*</span></p>
                        <p class="input-extra-detail">(Date Of Birth should be between 01 Jan 2003 - 31 Dec 2006)</p>
                    </td>
                    <td><input type="date" name="basic_detail[dob]" placeholder="DD-MM-YYYY" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">I confirm that student Date of Birth is between Jan 1, 2002 to Dec 31,
                            2005 as per Govt ID Proof</p>
                    </td>
                    <td>
                        <select name="basic_detail[declaration]" required>
                            <option value="" disabled selected hidden>-Select-</option>
                            <option value="Yes">
                                <p class="input-option">Yes</p>
                            </option>
                            <option value="No">
                                <p class="input-option">No</p>
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Gender<span class="required-star">*</span></p>
                    </td>
                    <!-- <input type="text" name="basic_detail[gender]" placeholder="Gender" required> -->
                    <td>
                        <select name="basic_detail[gender]" required placeholder="-Select Your Gender-">
                            <option value="" disabled selected hidden>-Select-</option>
                            <option value="Male">
                                <p class="input-option">Male</p>
                            </option>
                            <option value="Female">
                                <p class="input-option">Female</p>
                            </option>
                            <option value="Transgender">
                                <p class="input-option">Transgender</p>
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Address<span class="required-star">*</span></p>
                    </td>
                    <td>
                        <textarea name="basic_detail[address]" placeholder="Address" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Email-Id<span class="required-star">*</span></p>
                    </td>
                    <td><input type="email" name="basic_detail[email_id]" placeholder="Email-Id" required></td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Whatsapp Number<span class="required-star">*</span></p>
                    </td>
                    <td><input type="number" name="basic_detail[primary_number]" placeholder="Primary Number" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Alternate Number<span class="required-star">*</span></p>
                    </td>
                    <td><input type="number" name="basic_detail[alternate_number]" placeholder="Alternate Number"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Parent Name<span class="required-star">*</span></p>
                    </td>
                    <td> <input type="text" name="basic_detail[parent_name]" placeholder="Parent Name" required></td>
                </tr>
                <tr>
                    <td>
                        <p class="input-name">Parent Relation<span class="required-star">*</span></p>
                    </td>
                    <td><input type="text" name="basic_detail[parent_relation]" placeholder="Parent Relation" required>
                    </td>
                </tr>
            </table>
            <button class="form-btn">Next</button>
        </form>
    </div>
</div>





<style>
    html {
        width: 100%;
        height: 100%;
        font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
    }

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 52%, rgba(236, 236, 236, 1) 56%);
    }




    /* NAVBAR STYLING STARTS */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    a {
        color: black !important;
    }

    a:hover {
        border: none;
        color: white;
        border-bottom: 2px solid #63bfbf;
    }



    .logo_div {
        display: flex;
        justify-content: center;
        height: 30%;

    }

    .logo {
        text-transform: uppercase;
        text-decoration: none;
        margin: 0%;
    }

    .fw_logo {
        width: 75px;
        height: 50px;
    }

    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }

    .menu li:hover {
        text-decoration: none;
        color: #63bfbf;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    /* DROPDOWN MENU */
    .gallery {
        position: relative;
    }

    .dropdown {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 1em 0;
        position: absolute;
        /*WITH RESPECT TO PARENT*/
        display: none;
        border-radius: 8px;
        top: 35px;
    }

    .dropdown li+li {
        margin-top: 10px;
    }

    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    }

    .dropdown li:hover {
        text-decoration: none;
        color: #63bfbf;
    }

    .gallery:hover .dropdown {
        display: block;
    }

    .faq {
        position: relative;
    }



    .admission {
        position: relative;
    }

    .admission:hover .dropdown {
        display: block;
    }

    /* CHECKBOX HACK */
    input[type="checkbox"] {
        display: none;
    }

    /*HAMBURGER MENU*/
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }
</style>