<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">FWSA Academy</div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#" class="active-page">
                <i class="fa-solid fa-grip"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report">
                <i class="fa-solid fa-chart-line"></i>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-id-badge"></i>
                <span class="links_name">Staffs</span>
            </a>
            <span class="tooltip">Staffs</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-image"></i>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-bell"></i>
                <span class="links_name">Notifications</span>
            </a>
            <span class="tooltip">Notification</span>
        </li>
    </ul>
</div>
<!-- <section class="home-section"> -->
<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="fa-solid fa-grip"></i>
                <span class="text">Dashboard</span>
            </div>
            <div class="boxes">
                <div class="box">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <span class="text">Total Application Received</span>
                    <span class="number"><%= @application_count %></span>
                </div>
                <div class="box">
                    <i class="fa-solid fa-circle-check"></i>
                    <span class="text">Total No Of Students Selected</span>
                    <span class="number">87</span>
                </div>
                <div class="box">
                    <i class="fa-solid fa-gears"></i>
                    <span class="text">Total No Of Diploma Applicants</span>
                    <span class="number"><%=@diploma_count%></span>
                </div>
                <div class="box">
                    <i class="fa-solid fa-user-graduate"></i>
                    <span class="text">Total No of Students Studying In College</span>
                    <span class="number"><%= @college_count %></span>
                </div>
            </div>
        </div>
        <!-- Recent Activity -->
        <div class="recent-div">
        <table class="recent_activity">
            <tr class="table_row">
                <th>Application No</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Email Id</th>
                <th>Contact No</th>
                <th>More Details</th>
            </tr>

            <% BasicDetail.order("id DESC").each do |basic_detail| %>
                <tr>
                    <td><%= basic_detail.id %></td>
                    <td><%= basic_detail.student_name %></td>
                    <td><%= basic_detail.dob %></td>
                    <td><%= basic_detail.email_id %></td> 
                    <td><%= basic_detail.primary_number %></td>
                    <td><a href="/admin_features/<%=basic_detail.id%>"><button>View</button></a></td>
                </tr>
            <% end %>

        </table>
        </div>
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    })
    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });
</script>