<div class="sidebar">
    <div class="logo-details">
        <a href="/admin_features/dashboard"><%= image_tag('fw_logo.png', {class: 'side_fw_logo' }) %></a>
        
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin_features/dashboard" class="active-page">
                <em class="fa-solid fa-grip"></em>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report">
                <em class="fa-solid fa-chart-line"></em>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="/listing">
                <em class="fa-solid fa-list"></em>
                <span class="links_name">List Applications</span>
            </a>
            <span class="tooltip">List Application</span>
        </li>
        <li>
            <a href="/staff">
                <em class="fa-solid fa-id-badge"></em>

                <span class="links_name">Staff</span>
            </a>
            <span class="tooltip">Staff</span>
        </li>
        <li>
            <a href="/gallery">
                <em class="fa-solid fa-image"></em>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
         <li>
         <a href="/faq">
               <em class="fa-regular fa-circle-question"></em>
                <span class="links_name">FAQ</span>
            </a>
            <span class="tooltip">FAQ</span>
        </li>
        <li>
         <a href="/signout" data-method="delete">
                <em class="fa-solid fa-arrow-right-from-bracket"></em>
                <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <em class="fa-solid fa-grip"></em>
                <span class="text">Dashboard</span>
            </div>

            <div  id="alert-id">
                <% if flash[:error] %>
                <div class="alert alert-primary">
                  <%= flash[:error] %>
               </div>
               <% end %>
            </div>
              

            <div class="boxes">
                <div class="box">
                    <em class="fa-solid fa-clipboard-list"></em>
                    <span class="text">Total Application Received</span>
                    <span class="number"><%= @application_count %></span>
                </div>
                <div class="box">
                    <em class="fa-solid fa-circle-check"></em>
                    <span class="text">Total No Of Students Selected</span>
                    <span class="number"><%= @selected%></span>
                </div>
                <div class="box">
                    <em class="fa-solid fa-user-graduate"></em>
                    <span class="text">Total No Of Diploma Applicants</span>
                    <span class="number"><%=@diploma_count%></span>
                </div>
                <div class="box">
                    <em class="fa-solid fa-building-columns"></em>
                    <span class="text">Total No of Students Studying In College</span>
                    <span class="number"><%= @college_count %></span>
                </div>
            </div>
        </div>


        <!-- Recent Activity -->
        <div class="recent-div">
            <div class="title">
                <em class="fa-solid fa-grip"></em>
                <span class="text">Recently Applied</span>
            </div>

        <table class="recent_activity">
          <caption></caption>
            <tr class="table_row">
                <th>Application No</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Email Id</th>
                <th>Contact No</th>
                <th>More Details</th>
            </tr>

            <% BasicDetail.order("id DESC").each do |basic_detail| %>
                <tr>
                    <td><%= basic_detail.id %></td>
                    <td><%= basic_detail.student_name %></td>
                    <td><%= basic_detail.dob.strftime('%d-%m-%Y') %></td>
                    <td><%= basic_detail.email_id %></td> 
                    <td><%= basic_detail.primary_number %></td>
                    <td><a href="/detailed_view/<%=basic_detail.id%>"><p class="view-link">View</p></a></td>
                </tr>
            <% end %>
        </table>
        </div>
</section>


<script>
  $(document).ready(function(){
    console.log("workingn")
    setTimeout(function(){
      $('#alert-id').fadeOut("slow", function(){
        $(this).remove();
      })
    },2000);
  });
</script>