<div class="sidebar">
    <div class="logo-details">
        <a href="/admin_features/dashboard"><%= image_tag('fw_logo.png', {class: 'side_fw_logo' }) %></a>
        
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin_features/dashboard">
                <em class="fa-solid fa-grip"></em>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report">
                <em class="fa-solid fa-chart-line"></em>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="/listing" class="active-page">
                <em class="fa-solid fa-list"></em>
                <span class="links_name">List Applications</span>
            </a>
            <span class="tooltip">List Application</span>
        </li>
        <li>
            <a href="/staff">
                <em class="fa-solid fa-id-badge"></em>

                <span class="links_name">Staff</span>
            </a>
            <span class="tooltip">Staff</span>
        </li>
        <li>
            <a href="/gallery">
                <em class="fa-solid fa-image" class="active-page"></em>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
         <a href="/signout" data-method="delete">
                <em class="fa-solid fa-arrow-right-from-bracket"></em>
                <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>


<div class="listing-div">
    <div class="title">
        <em class="fa-solid fa-list"></em>
        <span class="text">Applications Received</span>
    </div>

    <table class="listing-table">
        <tr class="table_row">
            <th>Application No</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Email Id</th>
            <th>Contact No</th>
            <th>More Details</th>
        </tr>

        <% BasicDetail.order("id ASC").each do |basic_detail| %>
            <tr>
                <td>
                    <%= basic_detail.id %>
                </td>
                <td>
                    <%= basic_detail.student_name %>
                </td>
                <td>
                    <%= basic_detail.dob %>
                </td>
                <td>
                    <%= basic_detail.email_id %>
                </td>
                <td>
                    <%= basic_detail.primary_number %>
                </td>
                <td><a href="/detailed_view/<%=basic_detail.id%>">
                        <p class="view-link">View</p>
                    </a></td>
            </tr>
            <% end %>

    </table>
</div>


<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    })
    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });
</script>