<div class="sidebar">
    <div class="logo-details">
        <a href="/admin_features/dashboard"><%= image_tag('fw_logo.png', {class: 'side_fw_logo' }) %></a>
        
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin_features/dashboard">
                <em class="fa-solid fa-grip"></em>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report" class="active-page">
                <em class="fa-solid fa-chart-line" class="active-page"></em>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="/listing">
                <em class="fa-solid fa-list"></em>
                <span class="links_name">List Applications</span>
            </a>
            <span class="tooltip">List Application</span>
        </li>
        <li>
            <a href="/staff">
                <em class="fa-solid fa-id-badge"></em>

                <span class="links_name">Staff</span>
            </a>
            <span class="tooltip">Staff</span>
        </li>
        <li>
            <a href="/gallery">
                <em class="fa-solid fa-image"></em>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
         <a href="/signout" data-method="delete">
                <em class="fa-solid fa-arrow-right-from-bracket"></em>
                <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>

<div class="title">
    <i class="fa-solid fa-chart-line"></i>
    <span class="text">Reports</span>
</div>

<div class="chart-main">
    <div class="title">
        <i class="fa-solid fa-chart-line"></i>
        <span class="text">Reports</span>
    </div>

    <div class="chart-row">
        <div class="chart-column">
            <%= line_chart BasicDetail.group_by_day(:created_at).count %>
            <p class="chart-title">Chart representing the Applications Received Date Wise</p>
        </div>
       
        <div class="chart-column">
            <%= pie_chart BasicDetail.group(:gender).count %>
            <p class="chart-title">Chart representing the Gender of the Applicants</p>
        </div>
    </div>

    <div class="chart-row">
        <div class="chart-column">
            <%= pie_chart RefferalDetail.group(:approach).count %>
            <p class="chart-title">Chart representing the Referral Detail of the Applicants</p>
        </div>
        <div class="chart-column">
            <%= column_chart EducationalDetail.group(:current_class).count %>
            <p class="chart-title">Chart representing the Current Class of the Applicants</p>
        </div>
    </div>
</div>

