<div class="sidebar">
    <div class="logo-details">
        <a href="/admin_features/dashboard"><%= image_tag('fw_logo.png', {class: 'side_fw_logo' }) %></a>
        
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin_features/dashboard">
                <em class="fa-solid fa-grip"></em>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report">
                <em class="fa-solid fa-chart-line"></em>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="/listing">
                <em class="fa-solid fa-list"></em>
                <span class="links_name">List Applications</span>
            </a>
            <span class="tooltip">List Application</span>
        </li>
        <li>
            <a href="/staff" class="active-page">
                <em class="fa-solid fa-id-badge"></em>

                <span class="links_name">Staff</span>
            </a>
            <span class="tooltip">Staff</span>
        </li>
        <li>
            <a href="/gallery">
                <em class="fa-solid fa-image"></em>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
         <a href="/signout" data-method="delete">
                <em class="fa-solid fa-arrow-right-from-bracket"></em>
                <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>




<div class="container">
  <div class="row text-center">
     
    <% Staff.all.each do|staff|%>
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        <%if staff.profile.attached?%>
         <%= image_tag staff.profile, alt: "Profile Image", class: "profile_img"%>
         <% end %>
          <h5 class="mb-0">
            <%= staff.name %>
          </h5><span class="small text-uppercase text-muted">
           <%= staff.designation %>
          </span>
          <h3 class="small text-uppercase text-muted">
           <%= staff.experience %> of Experience
          </h3>
          <h3 class="small text-uppercase text-muted"> 
           <%= staff.phone_number%> 
          </h3>
          <h3 class="small text-lowercase text-muted">
          <%= staff.email_id %>
          </h3>
        </div>
      </div>
      <% end %>
  </div>
</div>

<div class="add-btn-div">
  <div class="title">
                <em class="fa-solid fa-id-badge"></em>
                <span class="text">Staff</span>
                <button onclick="popupover()" class="add-btn"><em class="fa-solid fa-user-plus"></em></button>
            </div>

</div>

<div class="popup" id="popup-overlay">


  <form action="/staff_add" method="post" enctype="multipart/form-data" class="input-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div class="staff-main-container">

      <div class="staff-add-card">
        <div class="cross-icon">
          <a onclick="crossign()">
            <em class="fa-solid fa-xmark"></em>
          </a>
        </div>
        <section class="staff-add-section">
          <h1>Adding New Staff</h1>
        </section>
        <div class="staff-add-box">
          <input type="text" name="staff[name]" required><span>Name</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="file" class="custom-file-input" name="staff[profile]"><span>Profile Image</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="text" name="staff[age]" required><span>Age</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="email" name="staff[email_id]" required><span>Email-Id</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="tel" name="staff[phone_number]" required><span>Phone Number</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="text" name="staff[designation]" required><span>Designation</span>
          <em></em>
        </div>

        <div class="staff-add-box">
          <input type="text" name="staff[experience]" required><span>Experience</span>
          <em></em>
        </div>





        <button type="submit" class="staff-submit-btn">Add Staff</button>
      </div>    
    </div>

  </form>


</div>



<script>



  function popupover() {
    document.getElementById("popup-overlay").style.display = "block";
  }

  function crossign() {
    document.getElementById("popup-overlay").style.display = "none";
  }

</script>