<div class="sidebar">
  <div class="logo-details">
    <!-- <div class="logo_name">FWSA Academy</div>
    <i class="fa-solid fa-bars" id="btn"></i> -->
    <%= image_tag('fw_logo.png', {class: 'side_fw_logo' }) %>
  </div>
  <ul class="nav-list">
    <!-- <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li> -->
    <li>
      <a href="/admin_features/dashboard">
        <i class="fa-solid fa-grip"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="/report">
        <i class="fa-solid fa-chart-line"></i>
        <span class="links_name">Reports</span>
      </a>
      <span class="tooltip">Reports</span>
    </li>
    <li>
      <a href="/listing">
        <i class="fa-solid fa-list"></i>
        <span class="links_name">List Applications</span>
      </a>
      <span class="tooltip">List Application</span>
    </li>
    <li>
      <a href="/staff" class="active-page">
        <i class="fa-solid fa-id-badge"></i>

        <span class="links_name">Staffs</span>
      </a>
      <span class="tooltip">Staffs</span>
    </li>
    <li>
      <a href="/gallery">
        <i class="fa-solid fa-image"></i>
        <span class="links_name">Gallery</span>
      </a>
      <span class="tooltip">Gallery</span>
    </li>
  </ul>
</div>


<form action="/staff_add" method="post">
  <input type="text" name="staff[name]" placeholder="Name">
  <input type="text" name="staff[age]" placeholder="Age">
  <input type="email" name="staff[email_id]" placeholder="Mail Id">
  <input type="tel" name="staff[phone_number]" placeholder="Phone Number">
  <input type="text" name="staff[designation]" placeholder="Designation">
  <input type="text" name="staff[experience]" placeholder="Experience">
  <input type="text" name="">
</form>


<%= form_with url: "/staff_add" , method: :post do |form| %>
<%= form.text_field "staff[name]" , placeholder: "name" %>
<%= form.number_field "staff[age]" , placeholder: "age" %>
<%= form.text_field "staff[email_id]" , placeholder: "email_id" %>
<%= form.number_field "staff[phone_number]" , placeholder: "number" %>
<%= form.text_field "staff[designation]" , placeholder:"designation"%>
<%= form.text_field "staff[experience]" , placeholder: "experience" %>
<%= form.file_field "aadhar_card_images" , multiple: true %>
<%= form.submit "Submit" %>
<% end %>


  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    })
    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });
  </script>